# Ignore node_modules anywhere in the directory tree
**/node_modules/
# Ignore the outputs of tsc
/build/
scratch.*s
**/**/robotPainting.txt
/coverage/
*.nyc*

# Files created by PaintingRobot class
*.bmp